#previous_post_section {
  margin-top: 120px;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}
.previouspost__title {
  font-family: "Bungee", sans-serif;
  font-size: 30px;
}
.post {
  padding: 0;
  margin-top: 60px;
}
.post_wrapper {
  position: relative;
  width: 50%;
  border: 7px solid transparent;
  border-image: linear-gradient(to right, #7fe8bc 0%, #5d398f 100%);
  border-image-slice: 2;
  padding: 40px;
  margin: 0 auto;
  box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
}
.post_wrapper p {
  text-align: left;
}
.post_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.post_date {
  font-family: "Bungee Hairline", sans-serif;
  font-size: 20px;
  font-weight: 900;
}
.mood_string {
  font-family: "Bungee", sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
}
.post_wrapper button {
  font-family: "Bungee Hairline", sans-serif;
  cursor: pointer;
  border: none;
  background: transparent;
  position: absolute;
  bottom: 10px;
  font-weight: 900;
}
.post_wrapper button:focus {
  outline: red 2px dotted;
}
.edit_controls {
  display: none;
}
.delete_post_button {
  left: 90%;
}
.edit_post_button {
  left: 80%;
}
.reset_post_button {
  left: 10%;
}
.submit_edit_button {
  left: 30%;
}
.post_wrapper input {
  height: 23px;
  width: 250px;
}
.post_wrapper textarea {
  height: 23px;
  width: 250px;
}
.emoticon {
  width: 100px;
  height: 100px;
  display: block;
  float: right;
}
.no_results {
  height: 300px;
  border: 10px solid transparent;
  border-image: linear-gradient(to right, #7fe8bc 0%, #5d398f 100%);
  border-image-slice: 2;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 40px;
  width: 50%;
  background: rgba(255, 255, 255, 0.9);
  padding: 70px;
  box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
  font-family: "Bungee", sans-serif;
  font-size: 30px;
}
.rating1 {
  background-color: rgba(127, 232, 188, 0.5);
}
.rating1 .emoticon:before {
  content: url("../images/emoticons/great.svg");
}
.rating2 {
  background-color: rgba(101, 194, 201, 0.5);
}
.rating2 .emoticon:before {
  content: url("../images/emoticons/good.svg");
}
.rating3 {
  background-color: rgba(85, 131, 176, 0.5);
}
.rating3 .emoticon:before {
  content: url("../images/emoticons/okay.svg");
}
.rating4 {
  background-color: rgba(82, 86, 176, 0.5);
}
.rating4 .emoticon:before {
  content: url("../images/emoticons/bad.svg");
}
.rating5 {
  background-color: rgba(93, 57, 143, 0.5);
}
.rating5 .emoticon:before {
  content: url("../images/emoticons/terrible.svg");
}

/* MEDIA QUERIES */

/* Tablet Landscape */
@media screen and (max-width: 1200px) {
  .post_wrapper {
    width: 70%;
  }
}

/* Tablet Portrait */
@media screen and (max-width: 900px) {
  .post_wrapper {
    font-size: 15px;
  }
  .edit_post_button {
    left: 60%;
  }
  .delete_post_button {
    left: 80%;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .post_header {
    flex-direction: column;
    margin: 0;
  }
  .post_wrapper {
    width: 90%;
    padding: 20px;
    font-size: 15px;
  }
  .edit_post_button {
    left: 50%;
  }
  .delete_post_button {
    left: 70%;
  }
  .emoticon:before {
    float: none;
    padding: 10px;
    margin-top: 20px;
    height: 110px;
    width: 110px;
  }
  .no_results {
    width: 80%;
    font-size: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .post_date {
    font-size: 17px;
  }
  .edit_post_button {
    left: 30%;
  }
  .delete_post_button {
    left: 60%;
  }
  .post_wrapper input {
    width: 200px;
  }
  .post_wrapper textarea {
    width: 200px;
  }
  .emoticon:before {
    margin-top: 20px;
    height: 100px;
    width: 100px;
  }
  .no_results {
    width: 90%;
  }
}
