#landing_section {
  position: relative;
  z-index: -2;
}
#new_post_section {
  margin-top: 120px;
}
.newpost__title {
  font-family: "Bungee", sans-serif;
  font-size: 30px;
}
#new_post_form {
  border: 10px solid transparent;
  border-image: linear-gradient(to right, #7fe8bc 0%, #5d398f 100%);
  border-image-slice: 2;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 40px;
  width: 50%;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
}
.emoticons {
  height: 120px;
  width: 120px;
  padding: 10px;
  padding-top: 20px;
  margin: 5px;
}
input[type="radio"] {
  opacity: 0;
  position: absolute;
}
#mood_input_wrap,
#activity_input_wrap,
#notes_input_wrapper {
  margin-top: 40px;
}
.add_button {
  margin-top: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
}
#note_input {
  height: 100px;
  width: 70%;
  max-width: 400px;
  font-size: 15px;
  text-align: left;
}
legend {
  font-size: 30px;
  font-family: "Bungee Hairline", sans-serif;
  font-weight: 900;
  margin-top: 30px;
}
.input {
  margin-top: 20px;
  width: 70%;
  max-width: 400px;
}
.remove_field {
  position: absolute;
  padding-top: 27px;
  padding-left: 5px;
}
.remove_field {
  text-decoration: none;
  color: red;
}
form button:focus {
  outline: red 2px dotted;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  font-family: "Bungee", sans-serif;
  visibility: hidden;
  width: 100%;
  color: rgba(25, 38, 51, 0.7);
  text-align: center;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -50%;
  z-index: 10;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
#success_box {
  height: 300px;
  border: 10px solid transparent;
  border-image: linear-gradient(to right, #7fe8bc 0%, #5d398f 100%);
  border-image-slice: 2;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 40px;
  width: 50%;
  background: rgba(255, 255, 255, 0.9);
  padding: 70px;
  box-shadow: 15px 15px 40px rgba(25, 38, 51, 0.4);
}
#success_box p,
#success_box a {
  font-family: "Bungee", sans-serif;
  font-size: 30px;
}
#success_box a {
  color: #5d398f;
  text-decoration: none;
  transition: color 600ms;
}
#success_box a:hover {
  color: #7fe8bc;
}

/* EMOTICON RADIO BUTTONS */

.emoticon_label > input[type="radio"] + img {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color 600ms;
}
.emoticon_label > input[id="great"]:hover + img,
.emoticon_label > input[id="great"]:focus + img {
  border: 2px solid #7fe8bc;
}
.emoticon_label > input[id="good"]:hover + img,
.emoticon_label > input[id="good"]:focus + img {
  border: 2px solid #65c2c9;
}
.emoticon_label > input[id="okay"]:hover + img,
.emoticon_label > input[id="okay"]:focus + img {
  border: 2px solid #5583b0;
}
.emoticon_label > input[id="bad"]:hover + img,
.emoticon_label > input[id="bad"]:focus + img {
  border: 2px solid #5256b0;
}
.emoticon_label > input[id="terrible"]:hover + img,
.emoticon_label > input[id="terrible"]:focus + img {
  border: 2px solid #5d398f;
}
.emoticon_label > input[id="great"]:checked + img {
  border: 2px solid #7fe8bc;
  background-color: rgba(127, 232, 188, 0.3);
}
.emoticon_label > input[id="good"]:checked + img {
  border: 2px solid #65c2c9;
  background-color: rgba(101, 194, 201, 0.3);
}
.emoticon_label > input[id="okay"]:checked + img {
  border: 2px solid #5583b0;
  background-color: rgba(85, 131, 176, 0.3);
}
.emoticon_label > input[id="bad"]:checked + img {
  border: 2px solid #5256b0;
  background-color: rgba(82, 86, 176, 0.3);
}
.emoticon_label > input[id="terrible"]:checked + img {
  border: 2px solid #5d398f;
  background-color: rgba(93, 57, 143, 0.3);
}

/* MEDIA QUERIES */

/* Tablet Landscape */
@media screen and (max-width: 1200px) {
  #new_post_form {
    width: 70%;
    margin-top: 15px;
  }
}

/* Tablet Portrait */
@media screen and (max-width: 900px) {
  .emoticons {
    height: 90px;
    width: 90px;
    padding: 5px;
    padding-top: 15px;
    margin: 0.5%;
  }
  #new_post_form {
    width: 80%;
    margin-top: 15px;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .emoticons {
    height: 50px;
    width: 50px;
    margin: 0.5%;
    padding: 0;
    padding-top: 7px;
  }
  #new_post_form {
    width: 90%;
    margin-top: 15px;
  }
  .tooltip .tooltiptext {
    font-size: 12px;
  }
  #mood_input_wrap,
  #activity_input_wrap,
  #notes_input_wrapper {
    margin-top: 25px;
  }
  .input {
    margin-top: 7px;
  }
  .remove_field {
    padding-top: 15px;
    padding-left: 5px;
  }
  #success_box {
    width: 80%;
  }
  #success_box p,
  #success_box a {
    font-size: 25px;
  }
}

@media only screen and (max-width: 400px) {
  #success_box {
    width: 90%;
  }
}
